html, body {
    padding: 0;
    margin: 0;

}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

body {
    height: fit-content;
    font: normal 1rem Verdana, Arial, sans-serif;
}


/*Buttons*/
input[type='button'], input[type='submit'], .styled-table input[type='button'], input[type=file]::file-selector-button, .buttonContainer input[type='button'], .buttonContainer input[type='submit'],
.swal2-confirm {

    border: 1px solid grey;
    border-radius: 0.5rem;
    color: black;
    padding: 0.25rem 0.625rem .25rem 0.625rem;
    margin: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

.styled-table input[type='button']{
    margin: 0.1rem;
}



input[type='button']:hover, input[type='submit']:hover, .styled-table input[type='button']:hover,.buttonContainer input[type='button']:hover, .buttonContainer input[type='submit']:hover,
.swal2-confirm:hover {
    background-color: #a8e4a0;
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

/*Background color main theme*/
input[type='button'], input[type='submit'], .styled-table input[type='button'], .buttonContainer input[type='button'], .buttonContainer input[type='submit'],
.swal2-confirm, .HeaderContainer {
    background-color: #5aa950 ;
}

/*alt button + heading bg*/

 .Navigation, .styled-table thead tr, .MTPageHeading, .MTSectionHeading, .MTSectionGroupHeading1, .heading-and-controls {
    background-color: #ffffff;
}





input[type=file]::file-selector-button:hover, .NavElement:hover, .styled-table tbody tr:nth-of-type(even) {
    background-color: #ddd;
    color: black;
}

input[type=file]::file-selector-button{
    background-color: #a8e4a0;
}

input[type=file]::file-selector-button:hover{
    background-color: #a5ba93;
}

input[type=file]:hover {
    cursor: pointer;
}


/*Disabled*/
input:disabled[type='button'], input:disabled[type='submit'], .styled-table input:disabled[type='button'] {
    background-color: #a8e4a0;
    color: #ddd;
    box-shadow: none;
    cursor: default;
}


/*Text*/
input[type='date'], .label-with-text text, .read-only-field text, .date-selector-current, .clickable-text:hover {
    color: #5aa950 ;
}


/*Body Background-Color*/
.MTSectionBody, .date-selector-widget, .date-range-widget, .MTPageDescription, .MTSectionDescription {
    background-color: #f3f3f3;
}


.MTPageDescription, .MTSectionDescription {
    padding: 0.625rem;
    background-color: #cfdac6;
}




/*Input fields*/

.inputBox, input[type='text'], input[type='date'] {
    height: 1.5rem;
    width: 20rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #a8e4a0;
    padding-left: 0.5rem;
}

input[type='date'] {
    width: 10rem;
    font-weight: bold;
}


/*Routes*/
.route-container {
    display: flex;
    flex-direction: column;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
    flex-grow: 1;

}


/*Styles for Header and Nav elements*/
.HeaderContainer {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 1000;
    margin-bottom: 1.5rem;
}

.Header {
    font-size: 4rem;
    font-weight: bolder;
    margin-left: 1.5rem;
}

.user-status-container {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 1.5rem;
    margin-bottom: 0.625rem;
}

.UserStatus {
    float: right;
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 1.5rem;
}

.UserStatus a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 0.25rem;

}

.UserStatusName {
    display: flex;
    align-items: center;
    justify-items: center;

}

.UserStatusName:hover {
    color: black;
    box-shadow: 0 0 1.5rem rgba(255, 255, 255, 0.3);

}

.sign-in-out-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    gap: 0.25rem;
    cursor: pointer;
}


.section-controls img, .date-selector-widget img {
    justify-self: center;
    cursor: pointer;
}

.date-selector-widget img, .sign-in-out-container:hover {
    box-shadow: 0 0 1.5rem rgba(255, 255, 255, 0.3);
}

.Navigation {
    display: flex;
    background-color: #a8e4a0;
}


.NavElement, .NavElement a {
    display: flex;
    height: 3rem;
}

.NavElement a {
    padding: 0 2rem 0;
    align-items: center;
    justify-items: center;
    color: #4e8047;
    text-decoration: none;
    font-size: 1rem;

}

.section-controls img:hover, .NavElement:hover {
    color: black;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.05), 0 0.8rem 1.2rem rgba(0, 0, 0, 0.2);
}


.FooterContainer {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    align-self: center;
    align-items: center;
    margin-bottom: 3rem;
}

/*
Styling for reusable components
*/


.styled-table {
    border-collapse: collapse;
    margin: 1.5rem 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    color: #5aa950;
    text-align: left;
    border-bottom: 2px solid #a8e4a0;
}

.styled-table th,
.styled-table td {
    padding: 0.75rem 1rem;
}


.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {

}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #a8e4a0;
}


.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}


/*Styles for basic page elements*/
.titleContainer {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    font-size: 2rem;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}


.label-with-text {
    margin-right: 1.5rem;
}

.label-with-text label {
}

.label-with-text text {
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 0.625rem;
}

.labeled-field {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0.625rem 0 0.625rem 0;
}

.labeled-field input {
    width: 100%;
}

.labeled-field label {
    margin-right: 1.5rem;
    width: 9rem;
}

.field, .read-only-field {
    width: 22rem
}

.read-only-field text {
    font-weight: bold;
}

.row {
    display: flex;
    flex-direction: row;
}

.row input {
    width: auto;
}

/*SECTION WITH CONTROLS*/

.MTSectionWithControls {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    width: 100%;
    border: 2px solid #5aa950;
    border-radius: 0.5rem;
    overflow: hidden;
}

.heading-and-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section-with-controls-heading {
    flex-grow: 1;
}

.section-controls {
    display: flex;
    flex-direction: row;
    margin-right: 0.625rem;
    column-gap: 0.625rem;
}

.section-control {
    margin-left: 0.25rem;
    margin-right: 0.25rem;

}

.MTPage, .MTPageBody, .MTPageContent, .MTSectionBody, .MTSectionContent, .section-with-controls-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}


.MTPageHeading, .MTSectionHeading, .MTSectionGroupHeading1, .heading-and-controls {
    display: flex;
    flex-direction: row;
    color: #5aa950;
    justify-content: center;

}

.MTSectionHeading, .MTSectionGroupHeading1 {
    flex-direction: column;
    font-weight: bold;
    padding: 0.625rem 0.625rem 0.625rem 1.25rem;
}

.MTSectionGroupHeading1 {
    font-size: 1.5rem;
}

.MTSectionHeading {
    font-size: 1.125rem;
}

.MTPage {
    width: 100%;
}

.MTPageHeading {
    font-size: 2.75rem;
    font-weight: bolder;
    align-items: center;
    margin: 0.625rem 0 0.625rem 0;

}

.MTPageContent {
    padding: 0.625rem;
    align-self: center;
    width: 80%;
}

.MTPageBody {
    width: 100%;
}

.MTSectionBody {
    background-color: #f3f3f3;
    padding: 0.625rem;
}

.MTSectionContent {
    flex-basis: 100%;
}

.section-with-controls-content {

    &.open {
        opacity: 100;
    }


    &.visible {
        opacity: 100;
        animation: fade-in 600ms;
    }

    &.hidden {
        opacity: 0;
        animation: fade-out 600ms;
    }


}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }
}

@keyframes fade-out {
    from {
        opacity: 100;
    }

    to {
        opacity: 0;
    }
}


.section-with-controls-description-content {
}


.MTPageDescription, .MTSectionDescription {
    padding: 0.625rem;
}

.MTPageDescription {
}

.MTSectionDescription {
}

.CenteredFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

/*Validation*/
.Validation {
    color: red;
}


/*PRescriptions*/
.PrescriptionDetails, .user-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*DailyData*/
.DailyDataSectionWrapper {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 80%;
}

/*Date Components*/
.date-selector-widget, .date-range-widget, .start-date, .end-date {
    display: flex;
    flex-direction: row;

}

.date-selector-widget, .date-range-widget {
    flex: 1;
    align-items: center;
    justify-items: center;
    padding: 0.25rem;
}

/*Range*/

.date-range-widget {
    margin-bottom: 0.625rem;
}

.date-range-center {
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
}

.date-range-refresh {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-self: center;
    flex: 1;


}

.date-range-refresh input[type='submit'] {
    margin: 0.5rem;
    font-size: 1.125rem;
}


.start-date, .end-date {
    flex-basis: 40%;
    align-items: center;
}


/*Date*/
.current-with-calendar {
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    align-items: center;
    row-gap: 0.625rem;
}

.right-date-arrow, .left-date-arrow {
    display: flex;
    flex-basis: 20%;

}

.right-date-arrow {
    flex-direction: row;
    margin-left: 0.625rem;
}

.left-date-arrow {
    flex-direction: row-reverse;
    margin-right: 0.625rem;
}

.date-selector-current {
    font-size: 1.125rem;
    font-weight: bold;
}


/*Data Management*/

.data-file-manager {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 2rem;
    border: 0.625rem #a8e4a0;
}


.LineGraph {
}

.uploadContainerSubmitBox {
    display: flex;
    flex-direction: row-reverse;
}

.upload-data-file-container {

}

.download-data-file-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}


/*Patient info*/


/*Account management*/

.RoleChanges {

}

.RoleChanges ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
}

.RoleChange {
    display: flex;
    flex-direction: row;
    column-gap: 3rem;
    margin-bottom: 3rem;
    margin-right: 1.5rem;
}

/*login fields*/
.buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

/*Home page*/
.clickable-text {
    cursor: pointer;
    font-weight: bold;
}


.clickable-text:hover {
}


.clickable-text:hover, .right-date-arrow img:hover, .left-date-arrow img:hover {
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.1);
}


.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.inputContainer > .errorLabel {
    color: red;
    font-size: 0.75rem;
}


@media (max-width: 5048px) {
    html {
        font-size: 20px;
    }
}


@media (max-width: 1600px) {
    html {
        font-size: 16px;
    }
}


@media (max-width: 1024px) {
    html {
        font-size: 12px;
    }

    .Navigation {
        flex-direction: column;
    }

    .MTPageContent {

        padding: 0;
        overflow: scroll;
        width: 100%;
    }

    .HeaderContainer {
        position: inherit;
    }

    .DoseData {
        width: 100%;
    }
}